<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tag</h4>
            <div class="button-icon">
                {{#each control}}
                {{> boton boton=boton}}
                {{> modal modal=modal}}
                {{> tabla tabla=tabla}}
                {{/each}}
            </div>
        </div>
    </div>
</div>