<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/lock"><i class="icon-lock"></i><span class="nav-text">Lock Account</span></a></li>
            <li class="nav-label">Administración</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Configuración</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/usuario">Usuarios</a></li>
                    <li><a href="/rol">Roles</a></li>
                </ul>
            </li>
            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-money"></i><span class="nav-text">Ventas</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Prospectos">Prospectos</a></li>
                    <li><a href="/Contactos">Contactos</a></li>
                    <li><a href="/Clientes">Clientes</a></li>
                    <li><a href="/Proyectos">Proyectos</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-truck-loading"></i></i> <span class="nav-text">Almacen</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Inventarios">Inventarios</a></li>
                    <li><a href="/Productos">Productos</a></li>
                    <li><a href="/Entradas">Entradas a Inventarios</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-truck-moving"></i><span class="nav-text">Proveedores</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Pagos">Pagos Programados</a></li>
                    <li><a href="/Facturas">Entrada de Facturas</a></li>
                    <li><a href="/Conciliacion">Conciliación</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>