<!--**********************************
            Nav header start
        ***********************************-->
<div class="nav-header">
    <div class="brand-logo">
        <a href="#">
            <span class="logo-abbr"><img src="assets/images/logo.png" alt=""> </span>
            <span class="logo-compact"><img src="assets/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="assets/images/logo-text.png" alt="">
            </span>
        </a>
    </div>
</div>
<!--**********************************
            Nav header end
        ***********************************-->
<div class="header" style="background-color:#183153">
    <div class="header-content clearfix">
        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
        </div>
        <div class="header-right">
            {{#if user}}
            <ul class="clearfix">
                <li class="icons dropdown">
                    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span>
                        <img src="images/user/1.png" height="40" width="40" alt="">
                    </div>
                    <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="/usuarioConfig"><i class="icon-user"></i>
                                        <span>Profile</span></a>
                                </li>
                                <hr class="my-2">
                                <li>
                                    <a href="/lock"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                </li>
                                <li><a href="/logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>