{{#with boton}}
<button type="button" class="btn mb-1 btn-primary" data-toggle="modal" data-target=".add-user">{{btnName}}<span
        class="btn-icon-right"><i class="icon-plus"></i></span>
</button>
{{/with}}